<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<style>
    .tambah{
            background-color: blue;
    color: white;
    padding: 10px 1px;
     text-align: center;
    text-decoration: none;
    display: inline-block;
        }
        .edit{
    background-color: green;
    color: white;
    padding: 5px 5px;
     text-align: center;
    text-decoration: none;
    display: inline-block;
        }
        .hapus{
  background-color: red;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} 
.cari{
    background-color: blue;
    color: white;
    padding: 5px 10px;
     text-align: center;
    text-decoration: none;
    display: inline-block;
        }
        input[type=text],[type = date], select {
  width: 75%;
  padding: 5px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
button[type=submit] {
  width: 7%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: blue;
}
div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>
<body>
    <form action="" method="get" >
      <input type="hidden" name="page" id="" value="1" >   <!-- buat nambahin page = n ke /? -->
        ID <input type="text" name="id" id="" value="<%=query.id%>" placeholder="ID"> <br> <!-- querry.id supaya nanti pas search value dari yg dicari ga tampil -->
        Nama<input type="text" name="nama" id="" value="<%=query.nama%>" placeholder="nama" > <br>
        Tinggi<input type="text" name="tinggi" id="" value="<%=query.tinggi%>" placeholder=" tinggi"> <br>
        berat<input type='text' name="berat" placeholder="berat" value="<%=query.berat%>"> <br>
       <br><center> <input type="date" name="date" id="" value="<%=query.date%>"></center> <br>
       tanggal lahir <br> <center>to</center>
         <center><input type="date" name="date2" id="" value="<%=query.date2%>"></center> <br>
        status<select name="status" id="" >
            <option disabled selected value="pilih status mas "></option>
            <option <%=query.status=='nikah'?"selected":null%>>nikah</option>
            <option <%=query.status=='jomblo'?"selected":null%>>jomblo</option>
            </select> <br>
        <button class = "cari" type="submit">Cari</button> 
    </form>
    
    <table class="table">
        <head>
            <tr>
                <th>ID</th>
                <th>nama</th>
                <th>tinggi</th>
                <th>tanggal lahir</th>
                <th> status </th>
                <th>berat badan</th>
                <th>aksi</th>
            </tr>
        </head>
        <tbody>
            <% rows.forEach((item, index)=> {%>
                <tr>
                    <td><%= item.ID %></td>
                    <td><%= item.Nama%></td>
                    <td><%= item.Tinggi%></td>
                    <td><%= moment(item.tanggal_lahir).format('DD MMM YYYY')%></td>
                    <td><%= item.status_menikah==1?"menikah":"jomblo"%></td>
                    <td><%= item.berat_badan%></td>
                    <td>
                        <a class ="hapus"href="/delet/<%=item.ID %>">apus</a>
                        <a class = "edit"href="/edit/<%=item.ID %>">edit</a>
                    </td>
                </tr>
                <%}) %>
        </body>
        %>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <% for(let i = 1; i<= pages; i++){ %>
          <li class="page-item<%=page == i ? ' active' : ''%> "><a class="page-link" href="<%=url.replace(`page=${page}`,`page=${i}`)%>">
            <%=i %>
          </a></li>
          <% } %>
        </ul>
      </nav>
      <a class = "tambah" href="tambah">tambah data</a>
</body>
</html>

